<!DOCTYPE html>
<html layout:decorate="layout" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ERROR</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container my-3 text-center">
			<p><br><br></p>
		 	<h3>Cette catégorie contient déjà des articles. Impossible de la supprimer</h3>
		 	<a href="/springPierre/categorie" class="btn btn-primary mt-5 mb-5">Retour à la liste</a>
		 </div>
	</div>
</body>
</html>