<!DOCTYPE html>
<html layout:decorate="layout" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Commande ADD</title>
</head>
<body>

<div layout:fragment="content">
	<div class="container my-3 w-50">
		<form th:action="@{/addCommande}" th:object="${commande}" method="post">
			<div>
				<label for="nom">Nom</label>
				<input type="text" th:field="*{nom}" class="form-control" required/> 
				<span th:errors ="${commande.nom}" class="text-danger"></span>
			</div>
			<div>
				<label for="prenom">Prénom</label>
				<input type="text" th:field="*{prenom}" class="form-control" required/>
				<span th:errors ="${commande.prenom}" class="text-danger"></span>
			</div>		
			<div class="w-25">
				<label for="date">Date</label>
				<input type="date" th:field="*{date}" class="form-control" required/> 
				<span th:errors ="${commande.date}" class="text-danger"></span>
			</div>
			<div>
				<label for="cloture">Clôture</label>
				<input type="checkbox" th:field="*{cloture}" style="width : 20px; height : 20px;"/>
				<span th:errors ="${commande.cloture}" class="text-danger"></span>
			</div>
			<div class="mt-4">
				<button type="submit" class ="btn btn-primary">Confirmer</button>
		    </div>
		</form>
	</div>
</div>

	
</body>
</html>