<!DOCTYPE html>
<html layout:decorate="layout" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" th:href="@{/css/design.css}"/>

<title>Home</title>
</head>
<body>
	<div layout:fragment="content" class="bg-dark text-light rounded">
		<div class="container my-3 text-center">
			<p><br><br></p>
			<div id="home_contenu">
				<h1>Travail final SGBD</h1>
			 	<h3><br>Programme de gestion de commandes</h3>
			 	<p><br><br><br><br><br>Roberfroid Pierre - 3e bac Informatique de gestion<br><br></p>
			</div>
		 </div>
	</div>
</body>
</html>
